.container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 2rem;
}

/* ========================================= */

.header {
    position: fixed;
    inset: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-primary);
    z-index: 3;
    background-color: var(--base);
    padding: 0 2rem;
    transition: 0.3s ease-in-out;
    box-shadow:
        rgba(0, 0, 0, 0) 0px 2px 4px,
        rgba(0, 0, 0, 0) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0) 0px -3px 0px inset;
}

.header-active {
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.header div:nth-child(1) {
    display: flex;
    gap: 0.3rem;
    height: 100%;
    align-items: center;
    /* background-color: blue; */
    color: var(--text);
}

.icon-app {
    display: flex;
    height: 70% !important;
    aspect-ratio: 1/1 !important;
}
.header div:nth-child(1) strong {
    font-weight: 900;
    font-size: 1.1em;
}

.header ul {
    display: flex;
    gap: 1rem;
}

.header ul li a {
    color: var(--text);
    font-family: var(--font-secondary);
    font-weight: 500;
}

.con-auth {
    display: flex;
    height: 100%;
    align-items: center;
}

.btn-header {
    display: inline-flex;
    background-color: var(--text);
    color: var(--base);
    align-items: center;
    padding: 0.5rem 0.9rem;
    border-radius: 10px;
    cursor: pointer;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.first-btn {
    background-color: transparent;
    color: var(--text);
}

.btn-header span {
    font-weight: 700;
    font-size: 1.2em;
    font-family: var(--font-primary);
}

.hamburger-btn {
    display: none;
}

.container-sidebar {
    display: none;
}

/* ========================================= */

.hero-section {
    width: 100%;
    padding-top: 5rem;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.hero-banner {
    position: relative;
    flex: 1;
    /* border-radius: 1rem; */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    /* background-color: aqua; */
    aspect-ratio: 16/9;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-overlay {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    background: rgba(0, 0, 0, 0.154);
}

.hero-overlay h1 {
    max-width: 800px;
    font-family: var(--font-secondary);
    color: var(--base);
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 900;
    line-height: 1.3;
    font-family: var(--font-primary);
}

.text-decoration {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.9rem;
    font-family: var(--font-secondary);
    border-radius: 50px;
    background-color: var(--text);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ========================================= */

@media (max-width: 640px) {
    .container {
        padding-inline: 0.5rem;
    }

    .header {
        padding: 0 0.5rem;
    }

    .hero-banner {
        aspect-ratio: 2 / 3;
    }

    .hero-overlay h1 {
        font-size: 1.5rem;
    }

    .header ul {
        display: none;
    }

    .con-auth {
        display: none;
    }

    .hamburger-btn {
        display: flex;
        height: 60%;
        aspect-ratio: 1/1;
    }

    .hamburger-btn button {
        height: 100%;
        width: 100%;
        overflow: hidden;
        /* background-color: aqua; */
        color: var(--text);
    }

    .container-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        height: 100%;
        width: 70%;
        background-color: var(--base);
        right: 0;
        top: 0;
        z-index: 2;
        box-shadow:
            rgba(0, 0, 0, 0.713) 0px 15px 25px,
            rgba(0, 0, 0, 0.05) 0px 5px 10px;
        transform: translateX(110%);
        transition: 0.2s ease-in-out;
    }

    .container-sidebar header {
        width: 100%;
        height: 5rem;
        /* background-color: aqua; */
        display: flex;
        justify-content: end;
        padding: 0.5rem;
    }
    .container-sidebar header div {
        height: 60%;
        aspect-ratio: 1/1;
        /* background-color: green; */
    }

    .container-sidebar header div button {
        display: inline-flex;
        height: 100%;
        /* background-color: green; */
        width: 100%;
        color: var(--text);
        padding: 0.5rem;
    }

    .container-navlink {
        position: relative;
        flex: 1;
        width: 100%;
        /* background-color: green; */
        padding: 0.5rem;
    }

    .adefwsdw {
        position: absolute;
        display: inline-flex;
        width: 90%;
        aspect-ratio: 1/1;
        /* background-color: aqua; */
        bottom: -3rem;
        right: -2rem;
        color: var(--text);
    }

    .container-navlink ul {
        display: flex;
        flex-direction: column;
    }

    .container-btn-auth {
        width: 100%;
        height: 5rem;
        background-color: var(--text);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .btn-header {
        background-color: var(--base);
        color: var(--text);
        box-shadow: none;
    }
}
/* ========================================== */
@media (max-width: 1024px) {
    .container {
        padding-inline: 1.5rem;
    }

    .hero-banner {
        aspect-ratio: 2 / 3;
    }

    .hero-overlay h1 {
        font-size: 1.5rem;
    }
    .hero-banner {
        border-radius: 10px;
    }
}

/* ========================================= */

.feature-section {
    /* min-height: 100svh; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location {
    position: relative;
    width: 90%;
    height: 10rem;
    background-color: var(--text);
    transform: translateY(-20%);
}

.location .con-text,
.location .con-figure {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    display: flex;
    /* background-color: aqua; */
}

.location .con-figure {
    justify-content: space-between;
    overflow: hidden;
}
.location .con-figure div {
    height: 100%;
    aspect-ratio: 1/1;
    /* background-color: aqua; */
    color: var(--base);
    scale: 1.5;
}

.location .con-figure div:nth-child(1) {
    rotate: 12deg;
}
.location .con-figure div:nth-child(2) {
    rotate: -20deg;
}
